@media screen and (max-width: 4000px) {
  .wrapper {
    width: 980px;
    margin: 0 auto; 
  }
  .sm-mobile{
    display: none !important;
  }
  .gallery{
      -moz-column-count: 3;
      -moz-column-gap: 12px;
      -webkit-column-count: 3;
      -webkit-column-gap: 12px;
      column-count: 3;
      column-gap: 12px
  }
  /* detail page */
  h1{
    font-weight:      300 !important;
  }
  .work-description{
    width:300px;
    float:left;
  }
  .work-images{
    width:630px;
    float:right;
  }
  .work-image img{ 
    margin-bottom:8px;
  }

} 

@media screen and (max-width: 800px) {
  .wrapper {
    width: 620px;
    margin: 0 auto; 
  }
  .sm-mobile{
    display: none !important;
  }
  h1{
  font-weight:     300;
	font-size:       32px;
	line-height:     32px;
/* 	font-size:1.2em; */
	text-align:      center;
	display:         block;
	margin-bottom:   18px;
	width:           100%;
  background:     url('../images/marieazc-02.png') no-repeat 180px;
  padding-left:   4px;
  }
  .small{
  	margin-top:0;
    display: inline-block !important;
  }
  .menu{
  }
  .gallery{
      -moz-column-count: 2;
      -moz-column-gap: 8px;
      -webkit-column-count: 2;
      -webkit-column-gap: 8px;
      column-count: 2;
      column-gap: 8px;
  } 
  /* detail page */
  .work-description{
    width:100%;
    float:left;
  }
  .work-images{
    width:100%;
    float:right;
  }
  .work-image img{ 
    margin-bottom:8px;
  }
  .about{
	width:85%;
}

}

@media screen and (max-width: 375px) {
  body{
/*     background:rgb(238, 238, 238); */
  }
  .wrapper{
     width: 100%;
     margin: 0 auto;
  }
  .lg-dstop{
    display:      none !important;
  }
  .sm-mobile{
    display:      block !important;
    text-align:   center;

  }
  .homepage .header, .in-pages .header{
    padding-top:      0;
    text-align:       center;
  }
  .header{
    height:         60px;
    margin-top:     30px;
    margin-bottom:  80px;
  }

.in-pages .header{
    height:         60px;
    margin-top:     20px;
    margin-bottom:  10px;
  }

  .header h1{
	font-size:        32px;
  font-weight:      300 !important;
  line-height:      24px !important;
	display:          inline-block;
	margin-bottom:    12px;
	background:       none !important;
	width:            100%;
  padding-left:     0;
  }

  a .logo{
      font-weight: 300 !important;
    }
  a.email, a.myname{
    font-weight: 300 !important;
    float: inline-block;
    font-size: 20px;
    }

  .small{
  	font-size:1.2em;
  	line-height: 1.4em;
  	margin-bottom: 8px;
  	display: inline-block !important;
  }
  .menu{
  	font-size:   1em;
  	line-height: 1.6em;
  	margin-bottom: 8px;
  	margin-top: 0;
  }
  .menu ul{
    text-align: center;

  }

.not-menus{
  display: none !important;
}
.gallery-box{
      display: inline-flex;
}
.gallery-thumbnail{
  height:   132px;
  overflow: hidden;  
}

.homepage-titles{
  top:      48px;

}

.post-content div{
  width:  100%;
}
.post-content .text-block, .post-content .images, .post-content .sketches{
  width:       100%;
}

  .gallery{
     width:100%;
      -moz-column-count: 1;
       -moz-column-gap: 8px;
       -webkit-column-count: 1;
       -webkit-column-gap: 8px;
       column-count: 1;
       column-gap: 8px; 
     
  } 

.gallery-box{
  margin-bottom: 8px;
}
.gallery-thumbnail{
    width:            100% !important;
  }

.gallery-image img{
  width:100%;
  opacity:1;
  padding-top: 0 !important;
}  

.homepage-thumb{
  width:             100%;
}

  /* detail page */
  .work-description{
    width:300px;
    margin-bottom:12px; 
    display:block;
  }
  .work-images{
    width:300px;
    float:none;
  }
  .work-image img{ 
    width:300px;
    margin-bottom:8px;
  }  
.about{
	width:100%;
	font-size: 1.4em;
	line-height: 1.6em;
}
footer{
  margin-top:   0!important;
  padding-top:  12px!important;
}
}