body {
  font-family: 'Ubuntu', sans-serif;
  font-weight:  300;
  font-size:    12px;
  line-height:  18px; 

  background: #F2F0F0 url('../images/banderitas-33.png') repeat;
  }

.wrapper{
  margin:0;
  padding:0;

  }
.header{
  height:   180px;
  position: relative;

}

#branding{
  height:   60px;
}

.fixed {
    position: fixed;
    top:      0; 
    left:     0;
    width:    100%; }

.menu{
  
	font-weight:   300;
	font-size:     1em;
	line-height:   1em;
	/*border-top:1px solid;*/
  margin-bottom: .2em;

}
.menu ul{
	padding: 4px 0;
}

.menu ul li{
	display: inline-block;
  text-transform: capitalize;
  padding: 8px 12px 8px 12px;
  margin: 0 2px 8px 2px;
}
.menu ul li:first-child{
  margin-left: 0;
}
.menu ul li:first-child:hover{
  background-color: #649bcf;
}
.menu ul li:nth-child(2):hover{
  background-color: #f76f9b !important; /* pink */
}

.menu ul li:nth-child(3):hover{
  background-color: #fbce7f !important; /* teal */
}

.menu ul li a:visited, .menu ul li a:active, .menu ul li a:link{
  color:  #333;
}
.menu ul li a::hover{
  color:  white;
}
.menu ul li.selected{
  color:  white;
  back
}
.menu ul li.selected a:hover{
	color: white;
}

h1{
  font-size: 48px;
  line-height: 28px;
  margin-top:12px;
  margin-bottom: 0;
  display: inline-table;
  background:     url('../images/marieazc-02.png') no-repeat;
  padding-left: 32px;
  a.logo{
      font-weight: 300 !important;
    }
    a.email img{
      font-weight: 300 !important;
    }
/*
  background: url('../images/marie-01.png') no-repeat;
  width:28px;
  padding-left:44px;
  
*/
}

.homepage .header{
    display:      block;
    text-align:   center;
    padding-top:  84px;
}

.homepage .header h1{
  display:      inline-block;
  line-height:  32px;
}

.in-pages .header{
  display:      block;
  text-align:   center;
  padding-top:  20px;
  height:       120px;
}


.small{
  font-size:       1.6em;
  line-height:     1.4em;
  vertical-align:  baseline;
  display:         inline-table;
  margin-top:      8px;
  font-weight:     300;
  }

.title{
	font-size:   2.4em;
  line-height: 1.4em;
  text-transform: capitalize;

}

a.lightRed:active, a.lightRed:link, a.lightRed:visited{
	color: rgb(206, 138, 138); /*lightRed*/
}

a.lightRed:hover{
	color: rgb(206, 138, 138); /*lightRed*/
	text-decoration: underline;
}
.about{
	width:60%;
	font-size: 1.4em;
	line-height: 1.6em;
}
  /* resets */    
  h2{
    margin-bottom:0;
  }
  .strong {
  	font-weight: bold;
  }
  
  .lb-number {
  	display:none !important;
  }
  .pull-right{
  	float:right;
  }

li.not-menus a{
  text-transform: none;
}

li.not-menus:hover {
  background-color: #A1EFE3 !important;
}


ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.gallery-box{
  display:          inline-flex;
  flex-flow:        row wrap;
  margin-right:     4px;
  justify-content:  space-between;
}

.gallery-thumbnail{
    width:            314px;
    height:           auto;
    float:            left; 

    position: relative;
    display:          block;  
/*     border-top:1px solid #444;  */
/*     padding:8px; */

} 
.gallery-thumbnail:hover{
/*    border-top:1px solid #444;  */
/*    background-color:#f3f3f3; */
    color:#222;
  
}
.gallery-image{
  padding-top: .6em;
  /* height: auto; */
  overflow: hidden;
  display: inline-block;
/*  background-color: rgba(0,0,0, .75);
  position: relative;*/
}

.gallery-image img{
  width:100%;
  opacity:1;
/*
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
*/
}  

.homepage-thumb{
  width:             314px;
  height:            300px;
  margin-top:        0;
  text-align:        center;
}

.blueBg{  
  background-color:  #649bcf; /* teal */
  -webkit-transition: background-color .6s ease;
  transition:         background-color .6s ease;
}        
.blueBg:hover{
  background-color:  #4d87b7;
}
.coralBg{  
  background-color:  #538abd;
  -webkit-transition: background-color .6s ease;
  transition:         background-color .6s ease;
}        
.coralBg:hover{
  background-color:  #e77777;
}  
.orangeBg{  
  background-color:  #fbce7f; /* orange */
  -webkit-transition: background-color .6s ease;
  transition:         background-color .6s ease;
}        
.orangeBg:hover{
  background-color:  #e0a368; /* dark-orange */
}  
.pinkBg{  
  background-color:   #f76f9b; /* teal */
  -webkit-transition: background-color .6s ease;
  transition:         background-color .6s ease;
}        
.pinkBg:hover{
  background-color:  #30afa9;
}  
.purpleBg{  
  background-color:  #bc81ed;
  -webkit-transition: background-color .6s ease;
  transition:         background-color .6s ease;
}        
.purpleBg:hover{
  background-color:  #a76fd5;
}  
.tealBg{  
  background-color:  #A1EFE3; /* teal */
  -webkit-transition: background-color .6s ease;
  transition:         background-color .6s ease;
}        
.tealBg:hover{
  background-color:  #30afa9;
}
a.footerlinks:active, a.footerlinks:visited{
  color:  #a76fd5;
  padding: 4px 6px;
}
a.footerlinks:hover{
  background-color:  #a76fd5;
  color: white;
}


.homepage-thumb img{
  width:        85%;
  height:       auto;
  bottom:       0;
  padding-top:  10%;
}

.homepage-titles{
  position:      absolute;
  left:          0;
  top:           220px;
         
  opacity:       .86;
  padding:       13px 24px;
  color: white;
  transition:    number 0.8s ease;
}

.cat-titles{
  position: absolute;
  left:   0;
  bottom: 18px;
  
  opacity: .86;
  padding: 13px 24px;
  color: white;
  transition:    number 0.8s ease;
}

a .homepage-titles:active, a .homepage-titles:link, a .homepage-titles:visited,
a .cat-titles:active, a .cat-titles:link, a .cat-titles:visited    {
  color: #fff;
}

a .homepage-titles:hover, a .cat-titles:hover{
  color: #fff;
  opacity: .98;
}
.post-content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;

}

.post-header{
  margin-top: 12px;
  margin-bottom:  24px;
}

.post-content div{

}
.post-content .text-block{
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 300;
  width:        55%;
  display: block;

}

.post-content .text-block img.sketchHere{
  width: 100%;
  height: auto;
}
.post-content .text-block ul{
  display: block;
  margin-bottom:  24px 
}

.post-content .text-block .sketch li{
  height:  160px;
  width:    auto;
  margin-right: 12px;
  display: inline-block;

}
.post-content .text-block .sketch img{
  height:100%;
}


.post-content .small{
  font-size:    1.4em;
  line-height:  1.6em;
  font-weight:  300;
}

.post-content .images {
  width: 40%;
}

.post-content .images img{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.blue{
  background-color:#649bcf;
}

.orange{
  background-color:#fbce7f;
}

.pink{
  background-color: #f76f9b;
}

.teal{
  background-color: #2fa7a1;
}
.green{
  background-color: #A1EFE3;
}
.coral{
  background-color: #ff8989;
}

footer{
  background-color: #A1EFE3;
  height:           230px;
  margin-top:       114px; 
  text-align:       center;
  padding-top:      32px;  
}

footer .orange, footer .green{
  height:           230px;
  margin-top:       60px; 
}
footer .green img, footer .orange img{
  height:           80%;
  padding-top:      32px;
  vertical-align:   bottom;
}

a:visited, a:active, a:link{
  text-decoration: none;
  color:    #333;
}
a:hover{
}   