.small{
  font-size:      1.6em;
  line-height:    1.4em;
  vertical-align: baseline;
  display:        inline-table;
  margin-top:     1em;
  }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.gallery-thumbnail{
    width:274px;
    height:auto;
    float:left;   
    background-color:#fff;  
    margin-bottom:0; 
/*     border-top:1px solid #444;  */
    display:block;
    margin-bottom: 2em;
/*     padding:8px; */
} 
.gallery-thumbnail:hover{
/*    border-top:1px solid #444;  */
/*    background-color:#f3f3f3; */
    color:#222;
  
}
.gallery-image{
    max-width:295px;
    height:auto;
    overflow:hidden;
    display:inline-block;
    padding-top: 0;
    margin-bottom: .6em;
}

.gallery-image img{
  width:100%;
  opacity:1;
/*
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
*/
}

.gallery-image img:hover{
  width:100%;
  opacity:1;
/*
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
*/
  }

.divider{
  width:100%;
  height:2px;  
  text-align:center; 
  padding-bottom:8px;  
  
} 
.divider img{
  display:block;
  margin:0 auto;
  
}           

.menu{
  margin-top: 10px;
}

.menu ul{
  padding:    4px 0;
  border-bottom:  1px solid @text-body;
  border-top:  1px solid @text-body;

}

.menu ul li{
  display: inline;

}
.menu ul li a:link, .menu ul li a:visited, .menu ul li a:active{
  color:    @text-body;
  padding:  8px;

  &:hover{
    border:           none;
    color:            lighten(@text-body,30%);
  }
}
.menu ul li.selected a{
  color:            darken(@red, 25%);
}

  /* resets */    
  h2{
    margin-bottom:0;
  }
  .strong {
    font-weight: bold;
  }
  
  .lb-number {
    display:none !important;
  }
  .pull-right{
    float:right;
  }

  .hello {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.hello .hello-text{
  padding: 5px;
  width: 60%;
  height: 350px;
  margin: 10px 0;
  font-size: 1.4em;
  line-height: 1.6em;

}

.hello .hello-image {
  padding: 5px;
  width: 35%;
  height: 350px;
  margin-top: 10px;
  line-height: 150px;
}

.hello .hello-image img{
  width:100%;
  height:auto;

}