---
layout: homepage
---
<div>
<ul class="gallery">
      <a class="gallery-box" href="{{ base.url }}/category/branding">
      {% for post in site.categories.branding limit:1 %} 
        <li> 
        <div class="gallery-thumbnail">
        <div class="title homepage-titles blue" >{{ post.categories }}</div>
        <div class="gallery-image homepage-thumb orangeBg"> 
        {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src' %}

              {% if foundImage == 0 %}
                  {% assign html = image | split:"/>" | first %}
                  <img {{ html }} />
                  {% assign foundImage = 1 %}
              {% endif %}
          {% endif %}
        {% endfor %}
          </div>
        </div>
        </li>
        {% endfor %}
      </a>

     <a class="gallery-box"  href="{{ base.url }}/category/dashboards/">
      {% for post in site.categories.dashboards limit:1 %} 
        <li> 
        <div class="gallery-thumbnail">
        <div class="title homepage-titles pink">{{ post.categories }}</div>
        <div class="gallery-image homepage-thumb purpleBg"> 
        {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src' %}

              {% if foundImage == 0 %}
                  {% assign html = image | split:"/>" | first %}
                  <img {{ html }} />
                  {% assign foundImage = 1 %}
              {% endif %}
          {% endif %}
        {% endfor %}
          </div>
        </div>
        </li>
        {% endfor %}
      </a>

      <a class="gallery-box" href="{{ base.url }}/category/mobile/">
      {% for post in site.categories.mobile limit:1 %}  
        <li>
        <div class="gallery-thumbnail">
        <div class="title homepage-titles teal">{{ post.categories }}</div>
        <div class="gallery-image homepage-thumb blueBg"> 
        {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src' %}

              {% if foundImage == 0 %}
                  {% assign html = image | split:"/>" | first %}
                  <img {{ html }} />
                  {% assign foundImage = 1 %}
              {% endif %}
          {% endif %}
        {% endfor %}
          </div>
        </div>
        </li>
        {% endfor %}
      </a>
 
  </ul>

</div>
