<footer class="">
<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
Thanks poking around. You're awesome.<br />
<div class="green">

<img src="{{ site.url}}/images/cf2-01.jpg" />
<img src="{{ site.url}}/images/robots-03.png" />
</div>
<div class="orange">
<img src="{{ site.url}}/images/puppies.png" />
<img src="{{ site.url}}/images/patch-arrows.png" />

<img src="{{ site.url}}/images/patch-yard.png" />
<img src="{{ site.url}}/images/patch-characters.png" />
</div>


</footer>

