---
layout: default
---
<header class="in-pages">
{% include mast.html %}
   <div class="menu">
    <ul>  
      <li class="blue selected">
      	<div class="menu-title ">Design Systems &amp; Redesigns</div>
      </li> 
      
      <li class="">
        <a href="{{ base.url }}/category/dashboards/index.html"> 
          <div>Dashboards</div>
        </a>
       </li> 

       <li class="">
        <a href="{{ base.url }}/category/mobile/index.html"> 
          <div>Mobile</div>
        </a>
       </li>       

      <li class="pull-right not-menus">
        <a href="mailto:marieazc@gmail.com"> 
          <div>Send me an email</div>
        </a>
       </li>  

       <li class="pull-right not-menus">
        <a href="{{ base.url }}/about/"> 
          <div>More about Marie</div>
        </a>
       </li>  
    </ul>
 </div> <!-- end menu -->
</header>

<div >
	<ul class="gallery-box">
	{% for post in site.categories.branding %}
	<a href="{{ post.url }}">
	  <li class="">
	      <div class="gallery-thumbnail">
	      <div class="title cat-titles blue">{{ post.title }}</div>
	      <div class="gallery-image"> 
	      {% assign foundImage = 0 %}
	      {% assign images = post.content | split:"<img " %}
	      {% for image in images %}
	        {% if image contains 'src' %}

	            {% if foundImage == 0 %}
	                {% assign html = image | split:"/>" | first %}
	                <img {{ html }} alt="{{ post.title}}" title="Branding Feature Image"/>
	                {% assign foundImage = 1 %}
	            {% endif %}
	        {% endif %}
	      {% endfor %}
	        </div>
	      </div>
	    </li>
	    </a>
	{% endfor %}
	</ul>

</div>
