<!DOCTYPE html>
<html>

  {% include head.html %}
    <body>
    <header class="wrapper homepage">
      <div class="header lg-dstop">
        <a href="{{ base.url }}/index.html"><h1>marie  azcueta</h1></a><br />
       <span class="small">visual &amp; interactive designer/ illustrator</span>
      </div> <!-- end header -->
      
      <div class="header sm-mobile">
    <h1>
      <a href="{{ base.url }}/index.html"><img src="{{ base.url }}/images/marieazc-02.png" alt="marie azcueta logo"/><br /><br />marie azcueta</a>
    </h1>
  </div> <!-- end sm header -->
    </header>
    
    <div class="page-content">
      <div class="wrapper">
      {{ content }}
      </div>
    </div>
    {% include footer.html %}
    </body>
</html>