---
layout: default
---
<header class="in-pages">

 <div class="header lg-dstop ">
     <a href="{{ base.url }}/index.html"><h1>marie azcueta</h1></a><br />
     <span class="small"> visual &amp; interactive designer/illustrator</span>s
 </div> <!-- end lg-dstop header -->

  <div class="header sm-mobile">
    <h1>
      <a href="{{ base.url }}/index.html"><img src="{{ base.url }}/images/marieazc-02.png" alt="marie azcueta logo"/></a>
    </h1>
  </div> <!-- end sm header -->
   <div class="menu">
   
    <ul>  
      <li>
        <a href="{{ base.url }}/category/branding/index.html"> 
        <div class="menu-title ">Branding</div>
        </a>
      </li> 
      
      <li class="">
        <a href="{{ base.url }}/category/dashboards/index.html"> 
          <div>Dashboards</div>
        </a>
       </li> 

       <li class="">
        <a href="{{ base.url }}/category/mobile/index.html"> 
          <div>Mobile</div>
        </a>
       </li>  

       <li class="pull-right not-menus">
        <a href="mailto:marieazc@gmail.com"> 
          <div>Send me an email</div>
        </a>
       </li>  

       <li class="pull-right not-menus">
        <a href="{{ base.url }}/about/"> 
          <div>More about me</div>
        </a>
       </li>              
    </ul>
 </div> <!-- end menu -->
</header>

<div class="post wrapper">

  <header class="post-header">
    <span class="title">{{ page.title }}</span>
  </header>

  <article class="post-content wrapper">
  {{ content }}
  </article>
</div>

